html {
	scroll-behavior: smooth;
}

.loading-halaman::before {
	content: " ";
	display: block;
	position: fixed;
	z-index: 999;
	height: 3px;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #2C92CB;
	animation: load-halaman infinite ease-out 2s;
}

@keyframes load-halaman {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

.section1 {
	background-color: grey;
	background-image: url('../img/background1.jpg');
	background-attachment: fixed;
	background-size: cover;
	margin: 0px auto;
}

.yangKiri {
	margin-bottom: 30px;
}

.img1 {
	width: 400px;
	padding-bottom: 50px;
	padding-top: 50px;
}

.title1 {
	color: #2C92CB;
	font-weight: bold;
}

.subtitle1 {
	color: #7e7e7e;
	font-weight: bold;
}

.desc {
	color: #ccc;
	font-weight: 400;
}

.btn-reg {
	border-color: #2C92CB;
	background-color: #2C92CB;
	color: black;
	font-weight: bold;
	padding: 25px;
	padding-left: 150px;
	padding-right: 150px;
}

.btn-reg:hover {
	border-color: rgb(35, 114, 160);
	background-color: rgb(35, 114, 160);
	color: black;
}

.reg {
	margin-top: 20px;
}

.list {
	display: block;
	margin-top: 130px;
	text-align: center;
}

.fitur {
	margin: 50px auto;
	display: block;
	text-align: center;
}

.subList {
	align-content: center;
	text-align: center;
	display: block;
	color: #ccc;
	font-size: 16px;
	font-weight: 600;
}

.event {
	display: block;
	width: 100%;
	height: 150px;
	background-color: #1a2027;
	border-radius: 10px;
	overflow: hidden;
}

.judul-event h5 {
	color: #2C92CB;
	font-weight: 600;
}

.body-event {
	display: flexbox;
	padding: 15px;
	width: 100%;
}

.img {
	display: flexbox;
	padding: 0px;
}

.table {
	border-color: transparent;
	margin-bottom: 0px;
}

.text-grey {
	color: #6c757d;
}

.text-grey th {
	padding-bottom: 0px;
}

tr td {
	padding-bottom: 0px;
}

.game--list {
	padding-right: 15px;
	padding-left: 15px;
}

.btn-tour {
	font-weight: bold;
	display: block;
	background-color: #2C92CB;
	text-align: center;
	margin: 0px auto;
	padding: 25px;
	padding-left: 150px;
	padding-right: 150px;
}

.btn-tour:hover {
	border-color: rgb(35, 114, 160);
	;
	background-color: rgb(35, 114, 160);
	;
	color: black;
}

.partner {
	justify-content: flex-end;
}

.modal-content {
	background-color: #1a2027;
	color: white;
	padding: 16px;
}

.modal-header {
	border: none;
	font-weight: bold;
}

.btn-login {
	display: block;
	margin: 48px auto;
	background-color: #2C92CB;
	padding: 12px;
	width: 100%;
	font-weight: bold;
}

.btn-login:hover {
	background-color: rgb(35, 114, 160);
}

#login p {
	margin-top: 32px;
	text-align: center;
	color: #6c757d;
}

.fb {
	margin: 0px auto;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
	border: none;
}

.ggl {
	margin: 0px auto;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
}

.form input {
	background-color: #374453;
	color: #6c757d;
	border: none;
	transition: .2s;
}

.form input:focus {
	background-color: rgb(206, 206, 206);
	color: black !important;
	border-color: transparent !important;
	transition: .2s;
}

.forgot {
	color: white;
	text-align: right;
	margin-top: 4px;
}

.forgot:hover {
	color: white;
}

.form select {
	background-color: #374453;
	color: #6c757d;
	border: none;
	transition: .2s;
}

.form select:focus {
	background-color: rgb(206, 206, 206);
	color: black;
	border: none;
	border-color: transparent !important;
	transition: .2s;
}

#register p {
	text-align: center;
	color: #6c757d;
}

.single-tab {
	display: none;
}

.log {
	display: block;
}

.active {
	color: #2C92CB !important;
}

.btn-primary {
	background-color: #3B5999;
}

.btn-primary:hover {
	background-color: rgb(37, 56, 97);
	border-color: rgb(37, 56, 97);
}

.judul {
	display: inline-flex;
	width: 100%;
}

@media only screen and (max-width: 600px) {

	.img1 {
		width: 200px;
	}

	.img2 {
		display: block;
		width: 300px;
		margin: 0px auto;
		margin-top: 40px !important;
	}

	.list {
		margin-top: 40px;
	}

	.yangKiri {
		text-align: center;
	}

	.btn-reg {
		padding: 20px;
	}

	.fitur {
		width: 50px;
	}

	.img-fitur {
		width: 40px;
	}

	.subList {
		font-size: 12px;
		text-align: center;
	}

	.title1 {
		font-size: 30px;
	}

	.subtitle1 {
		font-size: 20px;
	}

	.desc {
		font-size: 16px;
	}

	.event {
		height: 100px;
		border-radius: 0px;
	}

	.img {
		width: 100px;
		height: 100%;
	}

	.body-event {
		width: 250px !important;
		padding: 5px;
	}

	.judev {
		font-size: 12px;
	}

	.badge {
		width: 40px;
		font-size: 8px;
	}

	.table {
		width: 230px;
		font-size: 10px;
	}

	.table td {
		font-size: 8px;
	}

	.table th {
		padding-top: 0px;
	}

	.game--list {
		margin-top: 8px;
	}

	.btn-tour {
		padding: 20px;
	}

	.img3 {
		display: block;
		width: 250px !important;
		margin: 30px auto;
	}

	.ini {
		margin-top: 0px;
		color: rgb(216, 216, 216);
	}

	.ggl {
		margin-top: 12px;
	}

	.lgn {
		width: 60px;
		font-size: 12px;
		padding: 10px;
	}

	.rgs {
		width: 80px;
		font-size: 12px;
		padding: 10px;
	}
}