* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: black;
	color: white;
	font-family: 'roboto', sans-serif;
}

.sidebar {
	display: block;
	width: 250px;
	height: 100vh;
	background-color: #262626;
	float: left;
	position: sticky;
	box-shadow: 1px 1px 10px black;
	/*	border-radius: 0px;*/
	transition: .5s;
	top: 0px;
	z-index: 99 !important;
}

.nav-item {
	padding: 12px;
	padding-right: 0px;
	list-style: none;
	margin-left: 4px;
	font-family: 'Roboto', sans-serif;
}

.nav-link {
	text-decoration: none;
	color: #e8e7e7;
	font-size: 17px;
	font-weight: normal;
	transition: .2s;
}

.nav-link:hover {
	color: white;
	background-color: #0e52d3;
	border-radius: 8px;
	transition: .2s;
}

.nav-title {
	display: block;
	margin: 0px auto;
	text-align: center;
	margin: 50px;
}

.icon-close {
	display: block;
	margin: 0;
	float: right;
	cursor: pointer;
}

/*
.active {
	display: block;
	background-color: #0e52d3;
	padding: 10px;
	padding-left: 15px;
	border-radius: 5px;
	color: white;
	box-shadow: 1px 2px 5px #080808;
}
*/

.akun {
	background-color: #0e52d3;
	display: grid;
	margin: 30px auto;
	padding: 10px;
	box-shadow: 1px 2px 5px #080808;
	border-radius: 10px;
	font-family: 'Baloo Bhai', cursive;
	transition: .2s;
}

.akun:hover {
	cursor: pointer;
	background-color: #2b6deb;
	transition: .2s;
}

.avatar {
	grid-column: 1 / span 2;
	grid-row: 1;
}

.username {
	grid-column: 2 / span 3;
	grid-row: 1;
	font-weight: normal;
}

.img {
	display: block;
	width: 50px;
	height: auto;
	border: 5px solid white;
	border-radius: 100%;
	margin: 0px auto;
}

.main {
	padding: 20px;
}

.mainNavbar {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	width: 100%;
	height: auto;
	background-color: #262626;
	color: white;
	box-shadow: 1px 2px 10px #080808;
	position: fixed;
	z-index: 98;
}

.nav-item {
	padding: 0px;
}

.fas {
	color: white;
}

.card {
	background-color: #262626;
	box-shadow: 1px 2px 10px #080808;
}

.btn-primary {
	background-color: #0e52d3;
	border: none;
}

.bg-primary {
	background-color: #0e52d3 !important;
	border: none;
}

.modal-content {
	background-color: #262626;
}

.modal-header {
	border: none;
}

.role {
	background-color: transparent;
	border: none;
}

.close:hover {
	cursor: pointer;
	color: red;
}

.thead-primary {
	background-color: #0e52d3;
}

.btnDelete:hover {
	color: red;
	transition: .2s;
	cursor: pointer;
}

.swal2-popup {
	background: #262626 !important;
}

.swal2-styled {
	background-color: #0e52d3 !important;
}

.swal2-icon {
	border-color: #0e52d3 !important;
	color: #0e52d3 !important;
}

.swal2-title {
	color: white !important;
}

#req {
	display: none;
}


.btn {
	color: whitesmoke;
}

.btn:hover {
	color: whitesmoke !important;
}

.active {
	background-color: #262626 !important;
}

#admin {
	display: none;
}