a.connect-medsos {
	color: white;
	text-decoration: none;
}

div.medsos{
	width: 100%;
	background: gray;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 5px;
	color: white;
}
p.about_me {
  overflow-wrap: break-word;
  margin: 0 auto;
  max-width: 300px;
  border: solid 2px #ccc;
  padding: 12px;
}
